################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/OAuthWebSample/Web.Release.config
/src/OAuthWebSample/Web.Debug.config
/src/OAuthWebSample/Web.config
/.vs
